.App {
    /* text-align: center; */
    /* font-size: 12px; */

    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
   
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

 background: url("https://gitlab.codingplatform.pl/Maugo/weather/raw/master/img/Graphic-Stock-vvv-0216-img_33663-456_web.jpg") no-repeat center center; 
 /* background: url("https://images.wallpaperscraft.com/image/mountains_sunset_sky_117732_3840x2400.jpg") no-repeat center center; */
 background-size: cover;

 font-family: 'Lato', sans-serif;
 color: #fff;
  }

  .Container {
    width: 300px;
    height: 500px;
    position: absolute;
  
    /* background-color: rgba(54, 82, 110, 0.4); 
    box-shadow:0px 0px 4px #0D0000; */
  }


  /* loader css */


  .loader-background{
    background-color: #e0bdde
  }
  
  
  
  
  
  
  .col:first-of-type {
    margin-left: 0;
  }
  
  .loader-container{
    width: vw;
    max-width: vh;
    margin: 0 auto;
    position: relative;
    text-align: center;
    background-color: #e0bdde;
  }
  
  
  
  
  
  .loader{
    width: 100vh;
    height: 100vw;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
    background-color: #e0bdde
  }



  
  
  
  /* LOADER 2 */
  
  #loader-2 span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color:white;
    margin: 35px 5px;
  }
  
  #loader-2 span:nth-child(1){
    animation: bounce 1s ease-in-out infinite;
  }
  
  #loader-2 span:nth-child(2){
    animation: bounce 1s ease-in-out 0.33s infinite;
  }
  
  #loader-2 span:nth-child(3){
    animation: bounce 1s ease-in-out 0.66s infinite;
  }
  
  @keyframes bounce{
    0%, 75%, 100%{
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  
    25%{
      -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      -o-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  }
  
  